body
{
    background: url(slike/back1.png) fixed;
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}

#frame
{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px;
}

#header
{    
    grid-column: 1 / 4;
    grid-row: 1;  
    background-color: rgba(0,0,0,.8);  
    text-align: center;
    padding:0px;
    margin: 0px;
    padding: 10px;
}

h1
{
    
    font-size: 30pt;
    color: #0266AE;
}

h2
{
    color: #85CCFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14pt;
    text-align: center;
}

h3
{
    color: #85CCFF;
    font-size: 12pt;
}

img{
    width:100%;
    max-width: 200px;
}

#mid
{
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(0,0,0,.5);
    padding:0px;
    margin: 0px;
    
}

#footer
{
    grid-column: 1 / 4;
    grid-row: 3;
    background-color: rgba(0,0,0,.8);
    color: lightskyblue;
    font-style: italic;
    text-align: center;
    padding:10px;
    margin: 0px; 
}

#footer a
{
    text-decoration: none;
    color: lightskyblue;
}

a
{
    text-decoration: none !important;
    color: white;
}

#meni
{
    margin-left: 0;
    
}
#meni ul
{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#meni ul li
{    
    display: inline;
    padding:10px;
    background-color: rgba(39,39,39, .5);
    border-radius: 5px;
    text-decoration: none;
    margin: 0;   
}

#meni ul li a
{        
    color: #85CCFF;
}

.lab
{
    font-size: 10pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;  
}


.predmetidruga, .predmetiprva
{
    color: lightblue;
    text-align: center;
}


.opislaba
{
    font-size: 10pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.slikalijevo, .slikadesno
{
    text-align: center;
}

.slikalijevo, .slikadesno, .oprema, .predmetiprva, .predmetidruga, .opislaba
{
    
    background-color: #252525;    
    padding: 10px;

}