body
{
    background: url(slike/back1.png) fixed;
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}

#frame
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
}

#header
{    
    grid-column: 1 / 4;
    grid-row: 1;  
    background-color: rgba(0,0,0,.8);  
    text-align: center;
    padding:0px;
    margin: 0px;
    padding: 10px;
}

h1
{
    
    font-size: 30pt;
    color: #0266AE;
}

h2, h3
{
    color: lightblue;
    font-size: 15pt;
    text-align: center;
}

#mid
{
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(0,0,0,.8);    
    margin: auto;
    color: #808080;    
}

#footer
{
    grid-column: 1/4;
    grid-row: 3;
    background-color: rgba(0,0,0,.8);
    color: lightskyblue;
    font-style: italic;
    text-align: center;
    padding:10px;
    margin: 0px; 
}

#footer a
{
    text-decoration: none;
    color: lightskyblue;
}

a
{
    text-decoration: none !important;
    color: white;
}

#meni
{
    margin-left: 0;
    
}
#meni ul
{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#meni ul li
{    
    display: inline;
    padding:10px;
    background-color: rgba(39,39,39, .5);
    border-radius: 5px;
    text-decoration: none;
    margin: 0;   
}

#meni ul li a
{        
    color: #85CCFF;
}


#gridprofesora
{    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    padding: 10px;
}

#gridasistenata
{    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    padding: 10px;
}

.profesoriel
{            
    color: #808080;
    background-color: #1d1d1d;     
    text-align: center;
    width: 250px;
}

.asistentiel
{
    color: #808080;
    background-color: #0d0d0d;     
    text-align: center;
    width: 160px;
}

.okvir
{    
    padding-left: 71px; 
    padding-top: 10px;
}
.okviras
{    
    padding-left: 21px; 
    padding-top: 10px;
}
.okvir:hover, .okviras:hover
{   
    padding: 0px; 
    margin-bottom: 10px;
}

.slikaprof
{
    position: absolute;   
}
