body
{
    background: url(slike/back1.png) fixed;    
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}

#frame
{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    color: white;
}

#header
{    
    grid-column: 1 / 4;
    grid-row: 1;  
    background-color: rgba(0,0,0,.5);  
    text-align: center;
    padding:0px;
    margin: 0px;
    padding: 10px;
}

h1
{    
    font-size: 30pt;
    color: #0266AE;
}


h2
{    
    font-size: 25pt;
    padding: 0px;
}

h3
{    
    font-size: 15pt;
    color: lightskyblue;
    text-align: center;
}

#mid
{
    grid-column: 2;
    grid-row: 2;
    background-color: #292929;
    color: white;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    padding: 10px;
}

#footer
{
    grid-column: 1 / 4;
    grid-row: 3;
    background-color: rgba(0,0,0,.5);
    color: lightskyblue;
    font-style: italic;
    text-align: center;
    padding:10px;
    margin: 0px; 
}

#footer a
{
    text-decoration: none;
    color: lightskyblue;
}

a
{
    text-decoration: none !important;
    color: white;
}


#meni
{
    margin-left: 0;
    
}
#meni ul
{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#meni ul li
{    
    display: inline;
    padding:10px;
    background-color: rgba(39,39,39, .5);
    border-radius: 5px;
    text-decoration: none;
    margin: 0;   
}

#meni ul li a
{        
    color: #85CCFF;
}


#dugmad
{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;      
}

#dugme1, #dugme2, #dugme3, #dugme4
{            
    padding:10px;
    background-color: rgba(20,20,20, .5);
    border: none;
    text-decoration: none;    
    color: #85CCFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}

.predmet
{
    display: grid;    
    grid-auto-columns: 1fr 1fr 1fr;
    color: white;  
    grid-gap: 5px;
    padding-bottom: 10px;
}

.imepredmeta
{
    grid-column: 1;
    grid-row: 1/3;
}


.imeprofesora
{
    grid-column: 2;
    grid-row: 1;
}

.imeasistenta
{
    grid-column: 2;
    grid-row: 2;
}

.brojpredavanja
{
    grid-column: 3;
    grid-row: 1;
}

.brojvjezbi
{
    grid-column: 3;
    grid-row: 2;
}

.temepredmeta
{
    grid-column: 1;
    grid-row: 3;
}

.opispredmeta
{
    grid-column: 2/4;
    grid-row: 3;
}

.imepredmeta, .imeprofesora, .imeasistenta, .brojpredavanja, .brojvjezbi, .opispredmeta
{
    padding: 10px;    
    background-color: #202020;
    text-align: center;
}

.temepredmeta
{
    padding: 10px;    
    background-color: #202020;
    text-align: left;
}