body
{
    background: url(back1.png) fixed;
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}

#frame
{
    display: grid;
    grid-template-columns: auto 250px 500px 250px auto;
    grid-gap: 10px;
}

#header
{    
    grid-column: 1 / 6;
    grid-row: 1;  
    background-color: rgba(0,0,0,.8);  
    text-align: center;
    padding:0px;
    margin: 0px;
    padding: 10px;
}

h1
{
    
    font-size: 30pt;
    color: #0266AE;
}

#left
{
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(0,0,0,.8);
    padding:15px;
}

h2
{
    color: lightgrey;
    font-size: 10pt;
}

h3
{
    color: lightgrey;
    font-size: 10pt;
}



#mid
{
    grid-column: 3;
    grid-row: 2;
    background-color: rgba(0,0,0,.8);
    width: 500px;
    height: 257px;
    padding:0px;
    margin: 0px;
}


#right
{
    grid-column: 4;
    grid-row: 2; 
    background-color: rgba(0,0,0,.8);
    padding: 15px;   
}


#footer
{
    grid-column: 1 / 6;
    grid-row: 3;
    background-color: rgba(0,0,0,.8);
    color: lightskyblue;
    font-style: italic;
    text-align: center;
    padding:10px;
    margin: 0px; 
}


#footer a
{
    text-decoration: none;
    color: lightskyblue;
}

a
{
    text-decoration: none !important;
    color: white;
}


#meni
{
    margin-left: 0;
    
}
#meni ul
{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#meni ul li
{    
    display: inline;
    padding:10px;
    background-color: rgba(39,39,39, .5);
    border-radius: 5px;
    text-decoration: none;
    margin: 0;   
}

#meni ul li a
{        
    color: #85CCFF;
}



.predmetiprve ul
{
    list-style: none;	
    padding-left: 0px;    
    margin-left: 0;
}

.predmetiprve li
{
    list-style: none;
	background-image: url("bookic.png");
	background-repeat: no-repeat;
	background-position: left center;
    background-size: 15px;
    padding-left: 0px;
    margin-left: 0;
}

.predmetiprve ul li
{    
    color: lightskyblue;
    text-decoration: none;
    margin: 0;
    padding-left: 17px;
}



.predmetidruge ul
{
    list-style: none;	
    padding-left: 0px;    
    margin-left: 0;
}

.predmetidruge li
{
    list-style: none;
	background-image: url("compic.png");
	background-repeat: no-repeat;
	background-position: left center;
    background-size: 15px;
    padding-left: 0px;
    margin-left: 0;
}

.predmetidruge ul li
{    
    color: lightskyblue;
    text-decoration: none;
    margin: 0;
    padding-left: 17px;
}
