body
{
    background: url(back1.png) fixed;
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}

#frame
{
    display: grid;
    grid-gap: 10px;
}

#header
{    
    grid-column: 1;
    grid-row: 1;  
    background-color: rgba(0,0,0,.8);  
    text-align: center;
    padding:0px;
    margin: 0px;
    padding: 10px;

}

h1
{
    
    font-size: 30pt;
    color: #0266AE;
}




#mid
{
    grid-column: 1;
    grid-row: 2;
    background-color: rgba(0,0,0,.8);
    padding: 10px;
    margin-left:auto; 
    margin-right:auto;
    color: white;
}

.tekst
{    
    width:300px;
}

#predmet
{    
    width:320px;
}

td
{
    padding: 10px;
}

#footer
{
    grid-column: 1;
    grid-row: 3;
    background-color: rgba(0,0,0,.8);
    color: #85CCFF;
    font-style: italic;
    text-align: center;
    padding:10px;
    margin: 0px; 
}

input[type=text], input[type=email], textarea, select{
    background-color: rgba(0,0,0,.8);
    border: 1px dashed #252525;
    color: #85CCFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 15px;
  }

  input[type=file] {
    color: #85CCFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
  }
  
  input[type=text]:focus, input[type=email]:focus, textarea:focus, select:focus {
    border: 1px solid #252525;
  }


 button{
    background: transparent;
    border-radius: 15px;
    border: 1px dashed #252525;
    padding: 10px;
    width: 100%;
    color: #85CCFF;
  }

#footer a
{
    text-decoration: none;
    color: #85CCFF;
}

a
{
    text-decoration: none !important;
    color: white;
}


#meni
{
    margin-left: 0;
    
}
#meni ul
{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#meni ul li
{    
    display: inline;
    padding:10px;
    background-color: rgba(39,39,39, .5);
    border-radius: 5px;
    text-decoration: none;
    margin: 0;   
}

#meni ul li a
{        
    color: #85CCFF;
}

