body
{
    background: url(slike/back1.png) fixed;    
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}

#frame
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    color: white;
}

#header
{    
    grid-column: 1 / 3;
    grid-row: 1;  
    background-color: rgba(0,0,0,.5);  
    text-align: center;
    padding:0px;
    margin: 0px;
    padding: 10px;
}

h1
{    
    font-size: 30pt;
    color: #0266AE;
}

.left
{
    grid-column: 1;
    grid-row: 2;
    background-color: #292929;
    color: white;
    text-align: left;
    max-width: 600px;
}

.right
{
    grid-column: 2;
    grid-row: 2; 
    background-color: black;
    max-width: 600px;
}

#footer
{
    grid-column: 1 / 3;
    grid-row: 3;
    background-color: rgba(0,0,0,.5);
    color: lightskyblue;
    font-style: italic;
    text-align: center;
    padding:10px;
    margin: 0px; 
}


#footer a
{
    text-decoration: none;
    color: lightskyblue;
}

a
{
    text-decoration: none !important;
    color: white;
}


#meni
{
    margin-left: 0;
    
}
#meni ul
{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#meni ul li
{    
    display: inline;
    padding:10px;
    background-color: rgba(39,39,39, .5);
    border-radius: 5px;
    text-decoration: none;
    margin: 0;   
}

#meni ul li a
{        
    color: #85CCFF;
}



row.nova td { background-color: red; }

.tabela1
{
    width:100%; 
    border-collapse: collapse;
}
  

  .tabela1 table, .tabela1 th, .tabela1 td, .tabela1 tr 
  {
    border: 1px dashed black;
    border-collapse: collapse;
    text-decoration: none;
    color: darkgrey;
    padding: 5px;
  }

  .tabela1 th, .tabela1 td, .tabela1 tr 
  {
    color: darkgrey;
    border-collapse: collapse;
    max-width: 200px;
    font-size: 8pt;
    padding: 5px;
    text-decoration: none;  
  }

  .tabela1 th{
    font-size:10pt;
    background-color: #292929;
    color: lightgrey;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}


.tabela1 td{
    text-align: left;
    border: 1px dashed black;
    background-color: #202020;
    border-collapse: collapse;
}






.tabela2
{
    border: 1px solid black !important;
    font-size: 8pt;
    padding: 5px;
    text-decoration: none; 
    border-collapse: collapse;
    width:100%; 
}



.tabela2 th{
    font-size:10pt;    
    background-color: #292929;
    color: lightgrey;
    padding: 5px;
    padding:10px;
}


.tabela2 td
{
    border: 1px solid black;
    background-color: #202020;
    padding:4px;
}


.tabela2 th, .tabela2 td{
    text-align: center;    
}


.tabela2 .specijalni
{
    border: 1px dotted black !important;

}

.tabela2 .predavanja
{
    background: rgb(255, 193, 77);
    color: orangered;
}

.tabela2 .tutorijal
{
    background: lightskyblue;
    color: darkblue;
}

.tabela2 .kombinacija
{
    background: lightgrey;
    color: black;
}

.tabela2 .lab
{
    background:lightgreen;
    color: darkgreen;
}










